.navbar {
    margin-top: 20px;
}

.logo {
    margin-top: -8px;
    width: 250px;
}

.container {
    text-align: center;
}

#problem {
    font-size: 100px;
}

#time {
    font-size: 50px;
}

#time-info {
    font-size: 20px;
}

h1 img {
    margin-top: -10px;
    width: 400px;
}

#stats {
    text-align: left;
}

#score {
    font-size: 15px;
}

#card-button {
    font-size: 30px;
}

.stack img {
    width: 100px;
}

.about-text {
    font-size: 15px;
}
