<!DOCTYPE html>
<html>
    <head>
        <title>Math Masters</title>
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>

        <div class="container">

            <!-- Static navbar -->
             <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img class="img-responsive logo" src="img/logo.png"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a class="active" href="/about">About</a></li>
                        </ul>
                        <!-- <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Login</a></li>
                        </ul> -->
                    </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>

            <h1>About</h1>

            <h3>The Stack</h3>
            <div class="stack">
                <a target="_blank" href="http://jquery.com/"><img src="/img/jquery.png"></a>
                <a target="_blank" href="http://jquerymobile.com/"><img src="/img/jquerymobile.png"></a>
                <a target="_blank" href="https://nodejs.org/"><img src="/img/node.png"></a>
                <a target="_blank" href="http://expressjs.com/"><img src="/img/express.png"></a>
                <a target="_blank" href="http://socket.io/"><img src="/img/socketio.png"></a>
            </div>

            <h3>The Game</h3>
            <p class="about-text">MathMasters is a realtime multiplayer math game. Players join the game, and then a series of rounds will begin. Each rounds presents a math problem and the first to solve it right wins the round. Be careful though! You get 300 points for getting a question right, but -100 points for getting it incorrect. When all the rounds have ended, the highest score wins!</p>

            <h3>Made by</h3>
            <p class="about-text">This was a project made by Stefan Gorski for CSE264.</p>


        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.1/js/bootstrap-dialog.min.js"></script>
    </body>
</html>
